* {
    font-family: sans-serif;
    user-select: none;
    text-align: center;
    color: white;
}

.background {
    background: black;
}

.ildenh {
    font-size: 10em;
    background: linear-gradient(rgb(128,0,0), rgb(255,0,0));
    cursor: pointer;
}

.link {
    /*font-size: 3em;*/
}
