* {
    font-family: sans-serif;
    user-select: none;
    color: white;

    /* Tre "viktige" ting :) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background: black;
}

.ildenh {
    font-size: 22vmin;
    text-align: center;
    background: linear-gradient(rgb(128,0,0), rgb(255,0,0));
}

.link {
    font-size: 8vmin;
}

.desc {
    font-size: 5vmin;
}
